/.idea
/lib-template/target
/lib-core/.idea
/lib-template-velocity/.idea
/lib-expressionLanguage/.idea
/lib-expressionLanguage/target
/lib-template-pebble/target
/lib-template-pebble/.idea
/lib-template-velocity/target
/lib-core/target
/lib-el-jexl/target
/lib-el-jexl/.idea
/template/.idea
/core/.idea
/el-jexl/.idea
/template-pebble/.idea
/template-velocity/.idea
/core/target
/el-jexl/target
/template-pebble/target
/template-velocity/target
/template/target
