/.idea
/lib-template/target
/lib-core/.idea
/lib-template-velocity/.idea
/lib-expressionLanguage/.idea
/lib-expressionLanguage/target
/lib-template-pebble/target
/lib-template-pebble/.idea
/lib-template-velocity/target
/lib-core/target
/lib-el-jexl/target
/lib-el-jexl/.idea
/misc/template/.idea
/core/.idea
/el-jexl/.idea
/template-pebble/.idea
/template-velocity/.idea
/core/target
/el-jexl/target
/template-pebble/target
/template-velocity/target
/misc/template/target
/mapping-modelmapper/target
/spring-jpa/target
/core-test/target
/spring-jpa-test/target
/bytecode-asm/target
/bytecode-asm
/spring-core/target
/spring-web/target
/spring-web-test/target
/mapping-mapstruct/target
/template-jexl/target
/basic/core/target
/spring/security-web-client/target
/spring/security-web/target
/spring/web-test/target
/spring/web/target
/spring/jpa-test/target
/spring/jpa/target
/spring/core/target
/basic/core-test/target
/target
/teste/target
/misc/jwt/target
/misc/mapping/mapstruct/target
/misc/mapping/modelmapper/target
/misc/template/jexl/target
/misc/template/pebble/target
/misc/template/velocity/target
/spring/security-web-resource-server/target
/basic/security/target
/spring/observability/target
/teste
/spring/jpa-audit/target
/spring/web-client/target
/spring/web-commons/target
/spring/web-resilient4j/target
/spring/web-test/*.iml
/misc/template/pebble/*.iml
/misc/template/jexl/*.iml
/spring/core/*.iml
/basic/security/*.iml
/basic/core-test/*.iml
/misc/jwt/*.iml
/spring/jpa-test/*.iml
/spring/observability/*.iml
/spring/web/*.iml
/misc/mapping/modelmapper/*.iml
/spring/jpa/*.iml
/misc/mapping/mapstruct/*.iml
/misc/template/velocity/*.iml
/spring/security-web-resource-server/*.iml
/*.iml
/teste/*.iml
/spring/web-commons/*.iml
/spring/client-httpexchange/*.iml
/spring/jpa-audit/*.iml
/spring/web-resilient4j/*.iml
/spring/security-web/*.iml
/basic/core/*.iml
/spring/security-web-client/*.iml
